.main-container{
    display: flex;
    flex-direction: row;
}
.div-container{
    height: 86.5vh;
}

.taskHeader{
   background-color: #fff;
   padding: 10px;
   border-radius: 5px;
}
.headerName{
    color: #609dfe;
}